doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-slider.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='icon', type='images/png', href='/images/compatibility2.png')
		script(type='text/javascript', src='/javascripts/jquery-2.1.0.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/jquery.flot.js')
		script(type='text/javascript', src='https://cdn.plot.ly/plotly-latest.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap-slider.js')
	body
		block content
